@charset "UTF-8";
h1,h2 {
	color: Navy;
	background-color: cornsilk;
	text-align: center;
}

.formdiv {
	background-color: lightcyan;
}

.errorstyle{
	font-style: oblique;
}

.selectclass {
	background-color: crimson;
	color: aliceblue;
}

.datetime{
	font-size: xx-small;
	background-color: darkkhaki;
}