@charset "UTF-8";
h1,h2 {
	color: Navy;
	background-color: cornsilk;
	text-align: center;
}

.formdiv {
	background-color: lightcyan;
}

.errorstyle{
	font-style: oblique;
}

.selectclass {
	background-color: crimson;
	color: aliceblue;
}

.questiondiv {
	background-color: lavender;
}

.datetime{
	font-size: xx-small;
	background-color: darkkhaki;
	size: 200px;
}

.dtfirstcol .dtsecondcol {
	width: 35%;
	border-color: darkred;
}

.dtsecondcol {
	width: 30%;
	text-align: center;
}

table {
	width: 100%;
}

#selectdiv{
	background-color: bisque;
}