<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title class="errorstyle" th:text="#{errorpage.title}">ERROR PAGE</title>
    <link href="../static/css/QuizSite.css" th:href="@{/css/QuizSite.css}" rel="stylesheet" media="screen"/>
</head>
<body>
    <h2 th:text="#{errorpage.header}">This is an error page: </h2>
    <h3 th:text="${err}">error message goes here</h3>
    <div class="datetime">
        <table id="datetimetable">
            <tbody>
            <tr>
                <td class="dtfirstcol"  th:text="#{errorpage.trailer.message}">welcome message goes here</td>
                <td class="dtsecondcol" th:text=" II "></td>
                <td class="dtthirdcol"  th:text="${today}">Today, Now</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>