<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz Question</title>
    <link href="../static/css/QuizSite.css" th:href="@{/css/QuizSite.css}" rel="stylesheet" media="screen"/>
    <script src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <!-- does not like <script ..... />  must use closing tag -->
</head>
<body>
<div class="questiondiv">
    <h3>Quiz Title: <span th:text="${thequiz.getQuizName()}"></span></h3>
    <h4>Total questions: <span th:text="${thequiz.getQuestionList().getNumberOfQuestions()}"/></h4>
    <h4>Question number: <span th:text="${thequiz.getQuestionList().getCurrentQuestionNumber() + 1}"/></h4>
    <form id="questionform" action="#" method="post" th:action="@{/displayanswer}" th:object="${thequiz.getQuestionList().getCurrentQuestionNumber()}">
        <div id="questiondisplay">
            <h4 th:text="${thequiz.getQuestionList().getTheQuestions().elementAt(thequiz.getQuestionList().getCurrentQuestionNumber()).getQuestionText()}"></h4>
            <label for="questionchoices">Choose one correct answer</label>
            <input form="questionform" class="boxed" type="radio" name="questionchoices" id="questionchoices" style="display: list-item"
                                                        th:each="cla : ${thequiz.getQuestionList().getTheQuestions().elementAt(thequiz.getQuestionList().getCurrentQuestionNumber()).getChoiceListArray()}"
                                                        th:value="${claStat.index} + 1" th:text="${cla}"/>
            <div class="submit">
                <input type="submit" value="SUBMIT ANSWER">
            </div>
        </div>
        <input type="button" class="backbutton" value="go back" onclick="goBack()"/>
    </form>
</div>
<div class="datetime">
    <table id="datetimetable">
        <tbody>
        <tr>
            <td class="dtfirstcol" th:text="#{questionpage.message}">welcome message goes here</td>
            <td class="dtsecondcol" th:text=" II "></td>
            <td class="dtthirdcol" th:text="${today}">Today, Now</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>