<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz Results</title>
    <link href="../static/css/QuizSite.css" th:href="@{/css/QuizSite.css}" rel="stylesheet" media="screen"/>
    <script src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
</head>
<body>
<h3>Here are your final results: </h3>
<h4>Questions answered: <span th:text="${thequiz.getScoreKeeper().getTotalAnswered()}"></span></h4>
<h4>Percent correct: <span th:text="${thequiz.getScoreKeeper().getPercentCorrect()}"></span></h4>
<form id="questionform" action="#" method="post" th:action="@{/welcome}">
    <input type="submit" value="RETURN TO QUIZ SELECTION"/>
</form>
<div class="datetime">
    <table id="datetimetable">
        <tbody>
        <tr>
            <td class="dtfirstcol"  th:text="#{questionpage.message}">welcome message goes here</td>
            <td class="dtsecondcol" th:text=" II "></td>
            <td class="dtthirdcol"  th:text="${today}">Today, Now</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>