<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>
    <link href="../static/css/QuizSite.css" th:href="@{/css/QuizSite.css}" rel="stylesheet" media="screen"/>
    <script src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
</head>
<body>
<h4 th:text="${correctness}">You are correct, sir!!</h4>
<div>
    <h4 th:text="${thequiz.getQuestionList().getTheQuestions().elementAt(thequiz.getQuestionList().getCurrentQuestionNumber()).getExplanation()}">explanation</h4>
</div>
<form method="post" id="answerform" action="#" th:action="@{/nextquestion}">
    <input type="submit" name="NEXT" value="NEXT"/>
</form>
<div class="datetime">
    <table id="datetimetable">
        <tbody>
        <tr>
            <td class="dtfirstcol"  th:text="#{questionpage.message}">message goes here</td>
            <td class="dtsecondcol" th:text=" II "></td>
            <td class="dtthirdcol"  th:text="${today}">Today, Now</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>