<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome: Quiz Selection</title>
    <!-- th:href must use leading / in path definition. -->
    <link href="../static/css/QuizSite.css" th:href="@{/css/QuizSite.css}" rel="stylesheet" media="screen"/>
    <script src="../static/scripts/common.js"></script>
</head>
<body>
<h2>Welcome to the Quiz site</h2>
<div class="formdiv">Please choose a quiz below:
    <div id="selectdiv">
        <label>
            <select class="selectclass" name="welcomeselect" form="quizselectform">
                <option th:each="qz : ${myQuizes}" th:value="${qzStat.index}" th:text="${qz.getQuizName()}">placeholder
                </option>
            </select>
        </label>
    </div>
    <form id="quizselectform" action="#" method="post" th:action="@{/initiatequiz}">
        <!-- <input type="hidden" th:name="questionnumber" th:value="${questionnumber}"/> -->
        <input type="submit" value="SUBMIT"/>
    </form>
    <p><a th:href="@{/logout}">Log Out</a></p>
</div>
<div class="datetime">
    <table id="datetimetable">
        <tbody>
        <tr>
            <td class="dtfirstcol"  th:text="#{welcomepage.message}">welcome message goes here</td>
            <td class="dtsecondcol" th:text=" II "></td>
            <td class="dtthirdcol"  th:text="${today}">Today, Now</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
