<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz Selection</title>
    <!-- th:href must use leading / in path definition. -->
    <link href="../static/css/QuizSite.css" th:href="@{/css/QuizSite.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<h2>Welcome to the Quiz site</h2>
<div class="formdiv">Please choose a quiz below:
    <form action="/quiz/displayquestion">
        <div class="selectdiv">
            <label>
                <select th:name="*{quizName}">
                    <option th:each="qz : ${myQuizes}" th:value="${qz.quizName}" th:text="${qz.quizName}">placeholder
                    </option>
                </select>
            </label>
        </div>
        <input type="hidden" name="questionnumber" value="0">
        <input type="submit" value="SUBMIT">
    </form>
</div>
<p th:text="#{welcomepage.message}">Welcome message goes here.</p>
<p th:text="${today}">Today, Now</p>
<p th:text="${rando}">this is random</p>
</body>
</html>
