<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Selection</title>
    <link href="../static/css/QuizSite.css" th:href="@{css/QuizSite.css}" rel="stylesheet" media="screen"/>
</head>
<body>
  <h2>Welcome to the Quiz site</h2>
  <p>Please choose a quiz below:</p>
  <select>
      <option value="Quiz 01">Quiz 01</option>
      <option value="Quiz 02">Quiz 02</option>
      <option value="Quiz 03">Quiz 03</option>
  </select>
<p><span th:text="#{welcome.message}" /></p>
</body>
</html>